{% extends "layout.html" %}
{% block body_content %}
    <div class="container">
        <div class="row mt-5 mx-0 text-center">
              <h1>{{ animal }}</h1>
        </div>

        <div class="row mt-5 mx-0">
            <div class ="col-2"></div>
            <div class ="col-8">
              <div class="images text-center">
                
                <a href="{{ url_for('dog', name='rio') }}"><img class="rounded img-thumbnail pet_thumbnail" src="{{ image('rio.jpeg') }}"></a>
                <a href="{{ url_for('dog', name='luna') }}"><img class="rounded img-thumbnail pet_thumbnail" src="{{ image('luna.webp') }}"></a>

              </div>
            </div>
            <div class ="col-2"></div>
        </div>
    </div>
  {% endblock %}