{% extends "pet_profile.html" %}
{% block paragraph %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id veritatis maiores, animi quasi dolore neque rerum, nulla, rem maxime nemo ducimus sapiente corporis molestiae magnam consequatur itaque. Illum, nesciunt nulla?</p>

{% endblock %}

{% block paragraph_two %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id veritatis maiores, animi quasi dolore neque rerum, nulla, rem maxime nemo ducimus sapiente corporis molestiae magnam consequatur itaque. Illum, nesciunt nulla?</p>

{% endblock %}

{% block image %}

    <div class ="col-8"><img class="rounded img-thumbnail" src="{{ image('rio', 'jpeg') }}"></div>
    
{% endblock %}